@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<h2>This is a back-end webpage for the INF 354 project at The University of Pretoria.</h2>
    <p></p>
<h2 style="color:turquoise;">Meet the team:</h2>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
</style>
<table>
  <tr>
    <th>Name and Surname</th>
    <th>Student Number</th>
  </tr>
  <tr>
    <td>Christian Wheeler</td>
    <td>u14091268</td>
   </tr>
        
   <tr>
     <td>Francios Venter</td>
     <td>u14177553</td>
    </tr>

    <tr>
     <td>Alicia Mulder</td>
     <td>u14283124</td>       
    </tr>    

    <tr>
     <td>Emily Black</td>
     <td>u16081961</td>      
    </tr>

    <tr>
     <td>Peter Msimanga</td>  
     <td>u14283124</td>
    </tr>
        
</table>


