@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>INF354 Group Project - ISP</h1>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Welcome to INF354 ISP</h2>
        <p>
            This should be a pretty landing page for our ficticious ISP.
        </p>
    </div>
</div>